#Title{
    text-align: center;
}

#Login{
    text-align: center;
}

#SignUp{
    text-align: center;
    display: block;
    padding: 10px 0 10px 0;
}
#SignUp:hover{
    color:red;
    text-decoration: underline;
}
#divLogIn label{
    width: 100%;
    text-align: center;
    margin-left: 13px;
    padding: 30px 0 30px 0;
    font-size: 20px;
}

#divLogIn input[type=text], input[type=password] {
  width: 98%;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 13px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
}

#btnLogIn{
    background-color: #4CAF50;
  color: white;
  padding: 15px 0 15px 0;
  /* top/right/bottom/left */

  text-align: center;
  margin-left: 13px;
  border: none;
  cursor: pointer;
  width: 98%;
  font-size: 15px;
}

#passwordDiv {
    position: relative;
}

#passwordDiv img {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    right: 25px;
}

