#divMaterii #delete{
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: transparent;
}

#divMaterii #add{
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: transparent;
}


#divMaterii input[type="text"]{
    margin-top: 50px;
    margin-right: 30px;
    width: 200px;
    height: 20px;
    margin-left: 40%;
}

#divMaterii input[type="button"]{
    width: 100px;
    height: 25px;
    margin-right: 30%;
}