#divNotite #delete{
    position: absolute;
    bottom: 14%;
    left: 16%;
    background-color: transparent;
    border: none;
}

#divNotite #add{
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: transparent;
    border: none;
}


#divNotite input[type="text"]{
    margin-top: 50px;
    margin-right: 30px;
    width: 200px;
    height: 20px;
    margin-left: 40%;
}

#divNotite input[type="button"]{
    width: 100px;
    height: 25px;
    margin-right: 30%;
}

.wrapper-notite{
    display: flex;
    flex-wrap: wrap;
}

.wrapper-notite{
    background-image: url("../pages/imagini/notita.png");
    width: 300px;
    height: 300px;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

