#divNotite #delete{
    position: absolute;
    bottom: 14%;
    left: 16%;
    background-color: transparent;
    border: none;
    z-index: 999999999;
}

#divNotite #add{
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: transparent;
    border: none;
}

#divNotite #share{
    position: absolute;
    top: 14%;
    right: 16%;
    background-color: transparent;
    z-index: 999999999;
    border: none;
}

#divNotite #edit{
    position: absolute;
    bottom: 14%;
    right: 16%;
    background-color: transparent;
    z-index: 999999999;
    border: none;
}

#divNotite input[type="text"]{
    margin-top: 50px;
    margin-right: 30px;
    width: 200px;
    height: 20px;
    margin-left: 43%;
}


.wrapper-notite{
    display: flex;
    flex-wrap: wrap;
}

.wrapper-notita{
    background-image: url("../pages/imagini/notita.png");
    width: 300px;
    height: 300px;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

